.delete-btn {
    margin-left: 20px;
    background-color: #F15B42;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: solid 1px transparent;
    cursor: pointer;
}

.delete-btn:active{
    transform: translateY(1px);
    filter: saturate(200%);
  }

.delete-btn:hover{
    color: #F15B42;
    border-color: #F15B42;
    background-color: white;
}

.weather-container {
    &-main-info {
        display: flex;
        align-items: center;
    }

    &-city {
        margin: 0;
    }

    &-icon-block {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    &-temperature {
        margin: 0;
        margin-left: 10px;
    }

    &-list {
        padding: 0;
    }

    &-item {
        padding: 5px 10px;
        border: 2px solid #7BA7AB;
        border-radius: 5px;
        margin-bottom: 5px;
        background: #A3D0C3;
        outline: none;
        list-style: none;
    }
}

.weather-container .weather-main-element {
    display: flex;
    margin-top: 20px;

    .weather-container-main-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .weather-container-temperature {
        font-size: 50px;
      }

    .weather-container-icon-block{
        margin-top: 20px;
    
      }
    
      .weather-container-list {
        padding: 0;
        margin-left: 90px;
      }
}