.saved {
    &-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &-input{
      width: 50%;
      height: 22px;
      padding: 5px 15px;
      border: #7BA7AB 2px solid;      
      border-radius: 5px;
      outline: none;
      background: #F9F0DA;
      color: #9E9C9C;
    }

    &-input:focus{
      outline:none;
      border: rgb(61, 189, 201) 2px solid;
      background: rgb(255, 236, 189);
      color: rgb(0, 0, 0);
    }
  
    &-button{
      margin-left: 20px;
      background-color: #A3D0C3;
      padding: 10px 15px;
      border-radius: 5px;
      border: none;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      border: solid 1px transparent;
    }

    &-button:active{
      transform: translateY(1px);
      filter: saturate(200%);
    }

    &-button:hover{
      color: #A3D0C3;
      border-color: #A3D0C3;
      background-color: white;
    }
}